<?xml version="1.0" encoding="UTF-8"?>
<suite name="API Test Suite" parallel="false" allow-return-values="false" >

	<parameter name="propertiesPath" value="src/test/resources/config/config.properteis"/>
 	<parameter name="baseURI" value="http://localhost:8080/app"/>
 	<listeners>
 		<listener class-name="listener.TestLogListener"/>
 		<listener class-name="listener.FailedRetryListener"/>
 	</listeners>
 	 
 	<test name="API automation test">
 	    <classes>
 	      <class name="testcases.TestGetVideoGame"/>
 	      <class name="testcases.TestUpdateVideoGame"/>
 	    </classes>
 	  </test> <!-- Test -->
	 
</suite> <!-- Suite -->
